{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'stories/style.css' %}" type="text/css"/>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>

        <title>{% if title %}{{ title }} | {% endif %}Hacker News | AlexNizovoy's parser</title>
        {% block headblock %}
        
        {% endblock %}
    </head>
    <body>
        {% include 'base/header.html' %}
        <div class="container-fluid">
            <div class="col-sm-2">
                {% include 'base/sidebar.html' %}
            </div>
            <div class="col-sm-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            {% include 'base/footer.html' %}
        </footer>

        <script src="{% static 'stories/script.js' %}"></script>
    </body>
</html>
