{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/style/styles.css'%}">
    <title>Shop title</title>
</head>
<body>
<div class="wrapper-base">
<div class="content">
    <div class="row header-contacts">
            <div class="col-sm-3 text-left">
                <a href="{{ base_url }}{% url 'product:index' %}"><img src="{{ base_url }}{% static 'base/shop-logo.jpg' %}" alt="Shop logo" title="Shop by Alex Nyzovyi"></a>
            </div>
            <div class="col-sm-6">
            <span>+38 (063) 123-45-67</span>
            <span><a href="#">Контакты</a></span>
            <span><a href="#">Доставка</a></span>
            </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="content" class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>
    <footer>
        <div class="text-center">
            <p>Shop title</p>
            <p>&copy; 2018 - {% now 'Y' %}, <a href="mailto:axel.aka.alex@gmail.com">Alex Nyzovyi</a></p>
        </div>
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block footerincludes %}{% endblock %}
</body>
</html>
