{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
<div class="col text-center"><h3>{{ product.title }}</h3></div>
<div class="row">
    <div class="col">
        <a href="{% url 'product:product-details' product.id %}"><img src="{% if product.image %}
    {{ product.image }}
    {% else %}
    {% static 'base/no_image.gif' %}
    {% endif %}" class="card-img-top" alt="{{ product.title }}"></a>
    </div>
    <div class="col">
        <div class="row align-items-center">
            <span class="price">{{ product.get_price.0|floatformat:2 }} </span>
            <span class="currency">{{ product.get_price.1 }}</span>
        </div>
        <div class="row justify-content-end">
            {% if not product.out_of_stock %}
                <a href="#" class="btn btn-primary" data-product-id="{{ product.id }}" data-action="add-to-cart">
                    <span class="oi oi-cart" title="Add to cart" aria-hidden="true"></span> В корзину
                </a>
            {% else %}
                <a href="#" class="btn btn-secondary disabled" disabled="">Нет в наличии</a>
            {% endif %}
        </div>
        <div class="row">
            <h4>Характеристики:</h4>
            <table class="table table-sm">
                <tbody>
                    {% for property in product.properties.all %}
                        <tr>
                            <th scope="row">{{ property.key }}</th>
                            <td>{{ property.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
