[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.29"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"


[dev-packages]



[requires]

python_full_version = "3.6.4"
