{% load static %}
{% load get_cat_records %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'stories/style.css' %}" type="text/css"/>

        <title>{% if title %}{{ title }} | {% endif %}Hacker News | AlexNizovoy's parser</title>
    </head>
    <body>
        <h1>Hacker News</h1>
        <!-- Form for get new records -->
        <form id="parse_form" class="form-inline" action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <button type="submit" id="buttonSubmit" class="btn btn-default">Get new records</button>
            <span id="status">After update records, browser refresh automatically</span>
        </form>

        <div id="categories">
            {% for category in categories %}
            {% get_cat_records category as cat_records %}
            <button class="accordion">{{ category|capfirst }} ({{ cat_records|length }})</button>
            <div class="panel">
                {% if cat_records %}
                <table>
                    <thead><tr>
                    <!-- Make title -->
                    {% for key in cat_records.0.fields %}
                        <th>{{ key|upper }}</th>
                    {% endfor %}
                    </tr></thead>

                    <tbody>
                        {% for story in cat_records %}
                        <tr>
                            {% for item in story.items %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% endif %}
            </div>


            {% endfor %}

        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="{% static 'stories/script.js' %}"></script>
    </body>
</html>
